@import "responsive.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #0e0d0b;
}

@font-face {
  font-family: "Alethia Next";
  src: url("AlethiaNext-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic";
  src: url("centurygothic.ttf") format("truetype");
  font-weight: 400;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  position: relative;
  height: 78px;
  margin: 3rem;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  cursor: pointer;
  transition: 0.5s ease;
}

.nav .navOpenBtn {
  height: 45%;
}

.nav .navOpenBtn:hover {
  color: #b5a48d;
}
.nav .navCloseBtn:hover {
  color: #b5a48d;
}

.nav .nav-links {
  background-color: #0e0d0b;
  position: fixed;
  height: 100%;
  top: 0;
  left: -200%;
  list-style: none;
  padding: 40px;
  z-index: 100;
  font-family: "Alethia Next";
  flex-direction: column;
  transition: all 0.4s ease;
}

.nav.openNav .nav-links {
  left: 0;
}

.nav-links p {
  font-size: 1.5rem;
  color: #b5a48d;
  margin: 20px 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 5rem;
  transition: all 0.2s linear;
}

.nav-links a:hover {
  color: #b7ac9d;
}

.nav .title-nav {
  font-family: "Century Gothic";
  font-weight: 400;
  text-align: center;
  transition: all 0.2s linear;
}

.nav i.search-icon {
  color: white;
  cursor: pointer;
  height: 45%;
  transition: 0.5s ease;
}

.nav i.search-icon:hover {
  color: #b5a48d;
}

.nav .search-box {
  position: absolute;
  top: calc(100%);
  max-width: calc(100% - 20px);
  width: 100%;
  height: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box form {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 10px;
  justify-content: cener;
  display: flex;
}

.search-box .search-icon {
  position: absolute;
  left: 0px;
  top: 30%;
  font-size: 80%;
  background-color: white;
  cursor: pointer;
}

.search-box input {
  position: absolute;
  left: 30px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 5px 15px 5px 15px;
  font-size: 0.7em;
  font-family: "Alethia Next";
}

/*--------------------------footer-------------------------------*/

.footer-container {
  padding: 3rem;
  color: white;
}

.footer-above {
  display: flex;
  justify-content: space-between;
}

.footer-above .footer-left,
.footer-above .footer-right {
  list-style: none;
  font-family: Satoshi;
  font-size: 1em;
  font-weight: 500;
  flex-wrap: wrap;
}

.footer-above .footer-left li h4,
.footer-above .footer-right li h4 {
  margin-bottom: 5px;
}

.footer-right li h4 {
  float: right;
}

.footer-above .footer-left li a,
.footer-above .footer-right li a {
  margin: 2px 0;
}

.footer-above .footer-center {
  font-family: Century Gothic;
  font-size: 1.4em;
  text-align: center;
}

.footer-left {
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-right {
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-above a {
  color: #b5a48d;
  text-decoration: none;
}

.footer-left a {
  float: left;
}
.footer-right a {
  float: right;
}

.footer-prescriptions {
  font-size: 0.7em;
  font-family: Satoshi;
  margin: 10px 0 2px;
  display: flex;
  justify-content: space-between;
}

.footer-prescriptions .right-container {
  display: flex;
}

.footer-prescriptions .right-container p:nth-child(2) {
  margin-left: 10px;
}

.hidden-footer-center {
  display: none;
  font-family: Century Gothic;
  font-size: 1.4em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*--------------------------contacts-------------------------------*/

.contact-page {
  margin: 3rem;
}

.contact-title {
  display: block;
  margin: 0 auto 20px;
  width: 5em;
  text-align: center;
  color: #b5a48d;
  font-family: Alethia Next;
  font-size: 3rem;
  font-weight: 350;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-right {
  display: grid;
  flex: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-left: 50px;
  flex-wrap: wrap;
}

.contact-right h1 {
  color: white;
  font-size: 1.6rem;
  padding-bottom: 5px;
}

.contact-right p {
  color: #b5a48d;
  font-size: 1.2rem;
}

/*--------------------------about_theatre-------------------------------*/

.about-title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #b5a48d;
  font-family: Alethia Next;
  font-size: 3rem;
  font-weight: 350;
}

.timeline-items {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 70px;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #b5a48d;
  left: calc(50% - 1px);
}

.timeline-dot {
  height: 24px;
  width: 24px;
  background-color: #b5a48d;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(10px);
  border-radius: 50%;
}

.timeline-items:nth-child(1) {
  margin-top: 30px;
}

.timeline-items:nth-child(odd) {
  padding-right: calc(50% + 30px);
}

.timeline-items:nth-child(odd) {
  text-align: right;
}

.timeline-items:nth-child(even) {
  padding-left: calc(50% + 30px);
  text-align: left;
}

.timeline-date {
  font-family: Alethia Next;
  font-size: 2.4rem;
  font-weight: 350;
  color: #b5a48d;
}

.timeline-content {
  padding: 0 3rem;
  margin-bottom: 30px;
}

.timeline-caption {
  font-family: Alethia Next;
  font-size: 1.4rem;
  font-weight: 350;
  color: #b5a48d;
  margin-bottom: 20px;
}

.timeline-descrip {
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.timeline-section img {
  max-width: 100%;
  height: auto;
}

.about-img-right {
  width: 100%;
}

.about-img-right img {
  float: right;
  padding: 0 0 20px 10px;
}

/*--------------------------select_tickets-------------------------------*/

.text-tickets {
  width: 531px;
  height: 86px;
  font-family: Alethia Next;
  font-size: 40px;
  font-weight: 350;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.frame-134 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 83px;
  margin-left: 80px;
  margin-top: 70px;
}

.frame-86 {
  display: flex;
  flex-direction: column;
  width: 485px;
  height: 73px;
  gap: 20px;
}

.date {
  width: 265px;
  height: 11px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  color: #ffffff;
}

.genre {
  width: 286px;
  height: 11px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  color: #ffffff;
}

.author {
  width: 265px;
  height: 11px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  color: #b5a48d;
}

.group-10 {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.line9 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #b5a48d;
  top: 50%;
  transform: translateY(-50%);
}

.circle9 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 100px);
  background-color: #b5a48d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle9:nth-child(1) {
  left: calc(33.33% - 200px);
  width: 20px;
  height: 20px;
}

.circle9:nth-child(2) {
  left: calc(50%);
}

.circle9:nth-child(3) {
  left: calc(66.66% + 200px);
}

.text {
  color: #b5a48d;
  font-size: 12px;
  margin-top: 40px;
  white-space: nowrap;
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 350;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.mainTickets {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.group-13 {
  display: flex;
  flex-direction: column;
  width: 754px;
  height: 642px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px;
}

.seats-coast {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.coast1,
.coast2,
.coast3,
.coast4,
.coast5 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.coast-text {
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.coast1 .seat {
  background-color: #a7875c;
  border: 1px solid #ffffff;
}

.coast2 .seat {
  background-color: #6f3b2f;
  border: 1px solid #ffffff;
}

.coast3 .seat {
  background-color: #536651;
  border: 1px solid #ffffff;
}

.coast4 .seat {
  background-color: #4f4e59;
  border: 1px solid #ffffff;
}

.coast5 .seat {
  background-color: #0e0d0b;
  border: 1px solid #ffffff;
}

.cinema-row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.seat {
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  margin: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background-color 0.3s;
}

.cinema-row.row-1 .seat:hover,
.cinema-row.row-2 .seat:hover {
  background-color: #4f4e59;
}

.cinema-row.row-3 .seat:hover,
.cinema-row.row-4 .seat:hover {
  background-color: #536651;
}

.cinema-row.row-5 .seat:hover,
.cinema-row.row-6 .seat:hover,
.cinema-row.row-7 .seat:hover,
.cinema-row.row-8 .seat:hover,
.cinema-row.row-9 .seat:hover {
  background-color: #6f3b2f;
}

.cinema-row.row-10 .seat:hover,
.cinema-row.row-11 .seat:hover,
.cinema-row.row-12 .seat:hover,
.cinema-row.row-13 .seat:hover {
  background-color: #a7875c;
}

.seat:active {
  transform: scale(0.9);
}

.seat-number-right,
.seat-number-left {
  width: 9px;
  height: 14px;
  font-family: Alethia Next;
  font-size: 20px;
  font-weight: 350;
  line-height: 29px;
  letter-spacing: 0em;
  color: #b5a48d;
  margin: 10px;
}

.seat-number-right {
  margin-left: 20px;
  margin-top: 0px;
}

.seat-number-left {
  margin-right: 24px;
  margin-top: 0px;
}

.frame-121 {
  width: 611px;
  height: 76px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 4px;
  border: 1px solid #b5a48d;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Alethia Next;
  font-size: 40px;
  font-weight: 350;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.frame-120 {
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 220px;
  margin-top: 200px;
  margin-left: 0px;
  margin-right: auto;
  background-color: #53665100;
}

.frame-120 .text {
  width: 150px;
  height: 30px;
  font-family: Alethia Next;
  font-size: 24px;
  font-weight: 350;
  line-height: 35px;
  letter-spacing: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: #b5a48d;
  background-color: rgba(255, 127, 80, 0);
}

.frame-118 {
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 140px;
  background-color: rgba(127, 148, 255, 0);
}

.component-28 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 127, 249, 0);
}

.frame-117 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 289px;
  height: auto;
  margin-top: 20px;
  background-color: rgba(255, 249, 127, 0);
}

.line-10 {
  display: flex;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background-color: #b5a48d;
}

.frame-119 {
  display: flex;
  flex-direction: row;
  width: 289px;
  height: 30px;
  margin-top: 10px;
  background-color: rgba(231, 30, 191, 0);
}

.frame-115,
.frame-116 {
  display: flex;
  flex-direction: row;
  width: 289px;
  height: 20px;
  background-color: #6f3b2f00;
}

.frame-116 {
  margin-top: 10px;
}

.frame-115 .text1,
.frame-116 .text1 {
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.frame-115 .text2,
.frame-116 .text2 {
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-left: auto;
  color: #ffffff;
}

.frame-119 .text1 {
  width: 68px;
  height: 11px;
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  white-space: nowrap;
  text-align: left;
  color: #b5a48d;
}

.frame-119 .text2 {
  width: 45px;
  height: 11px;
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-left: auto;
  margin-top: 0px;
  color: #b5a48d;
}

.text-28 {
  width: 230px;
  height: auto;
  font-family: Alethia Next;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  white-space: nowrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.line-10-2 {
  width: 235px;
  height: 1px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

.frame-119 .text1 {
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.frame-119 .text2 {
  font-family: Alethia Next;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-left: auto;
  margin-bottom: auto;
  color: #b5a48d;
}

.component-28 .text-28:hover {
  color: #b5a48d;
}

.component-28 .line-10-2:hover {
  background-color: #b5a48d;
}

/* Afisha */

.main-afisha {
  margin: 10px 80px;
}

.row1-afisha {
  display: flex;
  justify-content: space-between;
  font-family: Alethia Next;
  color: #b5a48d;
}

.card-section-afisha {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-afisha {
  font-family: Alethia Next;
  color: #b5a48d;
  border: #eeeaea;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  outline: #b5a48d solid 1px;
  margin: 20px 30px;
  width: 20rem;
}

.card-image-afisha img {
  width: 100%;
  height: auto;
}

.details-card-afisha {
  margin: 5px 20px;
  display: block;
}

.date-afisha,
.genres-afisha,
.title-afisha {
  color: white;
  margin: 0px 0px 10px 0px;
  font-size: 12px;
}

.date-afisha {
  font-weight: 400;
  line-height: 1rem;
}

.genre-afisha {
  font-size: 10px;
}

.title-afisha {
  margin-top: 20px;
  font-weight: 350;
  line-height: 1.2rem;
  font-size: 1rem;
}

.card-afisha a {
  text-decoration: none;
  color: white;
  margin-top: auto;
  text-align: center;
  padding: 10px;
  width: 100%;
  outline: #b5a48d solid 1px;
}

.row-afisha {
  display: flex;
  justify-content: space-between;
}

.row-afisha form {
  display: flex;
  justify-content: space-between;
}
/* SELECT CSS */

/* End of select */

/* Date input */

/*--------------------------placing_order-------------------------------*/

.circle10 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 100px);
  background-color: #b5a48d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle10:nth-child(1) {
  left: calc(33.33% - 200px);
}

.circle10:nth-child(2) {
  left: calc(50%);
  width: 20px;
  height: 20px;
}

.circle10:nth-child(3) {
  left: calc(66.66% + 200px);
}

.frame-144 {
  display: flex;
  flex-direction: row;
  width: 879px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(127, 255, 212, 0);
}

.frame-143 {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(236, 255, 127, 0);
}

.frame-120-2 {
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(139, 69, 113, 0);
}

.frame-143 .text {
  width: 306px;
  height: 17px;
  font-family: Alethia Next;
  font-size: 24px;
  font-weight: 350;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  color: #b5a48d;
}

.frame-141 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}

.frame-141 .group {
  position: relative;
  margin-bottom: 28px;
}

.frame-141 input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #0e0d0b;
  color: #ffffff;
  font-size: 15px;
  font-family: Alethia Next;
}

.frame-141 input:focus {
  outline: none;
}

label {
  color: #ffffff;
  font-size: 15px;
  font-family: Alethia Next;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #b5a48d;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #b5a48d;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #b5a48d;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #b5a48d;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #b5a48d;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.frame-120-2 .text {
  width: 150px;
  height: 30px;
  font-family: Alethia Next;
  font-size: 24px;
  font-weight: 350;
  line-height: 35px;
  letter-spacing: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: #b5a48d;
  background-color: rgba(255, 127, 80, 0);
}

.text-28-2 {
  width: 196px;
  height: auto;
  font-family: Alethia Next;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  white-space: nowrap;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.line-10-3 {
  width: 196px;
  height: 1px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

.component-28-2 .text-28-2:hover {
  color: #b5a48d;
}

/* MEDIA QUERY START */

@media screen and (max-width: 500) {
  .text7 {
    font-size: 5px;
    letter-spacing: normal;
  }

  .frame-2 {
    display: none !important;
  }
}
