{% extends "base.html" %}{% load static %}{% block main %}
<div class="text-35">Про театр</div>
<div class="mainFrame">
  <div class="rightFrame">
    <div class="part1">
      <div class="text-years">1918</div>
      <div class="text-caption">Початок Шляхетного Мистецтва</div>
      <div class="text-descrip">
        В 1918 році, на тлі світових перемін та революцій, народжується "Театр
        Титанів". Це стало важливою сторінкою в історії мистецтва, коли
        засновники театру віддавали перевагу високій культурі та виразному
        акторському мистецтву.
      </div>
      <img src="{% static 'image1.png' %}" alt="зображення" class="image1" />
    </div>
    <div class="part2">
      <div class="text-years">1940-ві</div>
      <div class="text-caption">Війна та Відродження</div>
      <div class="text-descrip">
        Час Другої світової війни став великим ви-пробуванням для "Театру
        Титанів", але він ви-жив завдяки мужності та відданості своїх творців.
        Після війни театр зазнав відроджен-ня, привертаючи увагу нового
        покоління ак-торів і режисерів.
      </div>
      <img src="{% static 'image2.png' %}" alt="зображення" class="image1" />
    </div>
    <div class="part3">
      <div class="text-years">1960-70-ті</div>
      <div class="text-caption">Радянський Період</div>
      <div class="text-descrip">
        У цей період "Театр Титанів" був вплинутий радя-нською культурною
        політикою, але зумів зберегти свою непересічність та автентичність.
        Вистави вразили аудиторію глибокими сюжетами та вра-жаючими виконаннями
        акторів.
      </div>
      <img src="{% static 'image3.png' %}" alt="зображення" class="image1" />
    </div>
    <div class="part4">
      <div class="text-years">2000-нині</div>
      <div class="text-caption">Сучасність та Світові<br />Розшарування</div>
      <div class="text-descrip">
        У сучасний період "Театр Титанів" продовжує диву-вати та надихати
        глядачів із своєю вишуканістю та сучасним підходом до театрального
        мистецтва. Він залишається символом культурної спадщини та прагне долати
        географічні межі, взаємодіючи з митцями та аудиторією з усього світу.
      </div>
      <img src="{% static 'image4.png' %}" alt="зображення" class="image1" />
    </div>
  </div>
  <div class="centralFrame">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
    <div class="circle5"></div>
    <div class="circle6"></div>
    <div class="circle7"></div>
  </div>
  <div class="leftFrame">
    <div class="part5">
      <div class="part5_1">
        <div class="text-descrip3">
          У цей період було створено фундаментальні театральні традиції, які
          залишались важливими для розвитку театру.
        </div>
        <img src="{% static 'image5.png' %}" alt="зображення" class="image5" />
      </div>
    </div>
    <div class="part6">
      <div class="text-years2">1920-30-ті</div>
      <div class="text-caption2">Експерименти та Розквіт</div>
      <div class="text-descrip2">
        У цей період "Театр Титанів" відзначився екс-периментами в сценічному
        мистецтві, зо-крема використанням новітніх технологій та творчим
        підходом до режисури. Вистави ста-ли більш виразними та сміливими,
        вра-жаючи глядачів своєю авангардністю.
      </div>
      <div class="part6_1">
        <img src="{% static 'image6.png' %}" alt="зображення" class="image6" />
        <img src="{% static 'image7.png' %}" alt="зображення" class="image7" />
      </div>
    </div>
    <div class="part7">
      <div class="text-years2">1950-ті</div>
      <div class="text-caption2">Післявоєнні часи</div>
      <div class="text-descrip2">
        Однак вже на початку 50-тих театр виявив над-звичайну відновлюючу силу
        та відданість мисте-цтву. Відновлення було важким, але дуже важли-вим
        етапом у його історії. Ця відданість та напо-легливість допомогли театру
        знову стати важли-вим культурним центром та символом відродже-ння в
        невпевнених післяво-єнних роках.
      </div>
      <div class="part7_1">
        <img src="{% static 'image8.png' %}" alt="зображення" class="image6" />
      </div>
    </div>
    <div class="part8">
      <div class="text-years2">1980-90-ті</div>
      <div class="text-caption2">Гласність та Творча Свобода</div>
      <div class="text-descrip2">
        З кінця 1980-х років "Театр Титанів" знову став символом творчої свободи
        та гласності. Театра-льні вистави відзначилися відвертістю та
        актуа-льністю сюжетів, що відображали соціокультурні зміни та дискусії
        того часу. У творчості театру виділялися сміливі експерименти з формами
        і жанрами, що сприяли появі нових інноваційних підходів до театрального
        мистецтва та залученню молодого покоління артистів та глядачів.
      </div>
      <div class="part7_1">
        <img src="{% static 'image9.png' %}" alt="зображення" class="image6" />
      </div>
      <div class="text-descrip4">
        За багато віків існування "Театр Титанів" став відомим не лише своїми
        вражаючими виста-вами, але й символом мистецької стійкості і
        інноваційного духу. Наша історія є частиною всесвітнього дороговказу
        мистецтва, і ми го-рді продовжувати цей захоплюючий шлях разом з вами.
      </div>
    </div>
  </div>
</div>

{% endblock %}
