{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="theatre, театр, вистави, розваги, Київ" />
    <meta
      name="description"
      content="Офіційний сайт Театру Титанів у місті Київ вул.Щекавиця, 5 (ст. метро 'Контрактова площа')"
    />
    <title>Theatre of Titans</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'responsive.css' %}" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <ul class="nav-links">
          <i class="uil uil-times navCloseBtn" style="font-size: 2rem"></i>
          <p>Меню</p>
          <li><a href="{% url 'index' %}">Головна</a></li>
          <li><a href="{% url 'afisha' %}">Афіша</a></li>
          <li><a href="{% url 'abouttheatre' %}">Про театр</a></li>
          <li><a href="#">Новини</a></li>
          <li><a href="{% url 'contact' %}">Контакти</a></li>
        </ul>

        <div class="title-nav">
          <div class="title-nav-row1">Театр титанів</div>
          <div class="title-nav-row2">Київ | 1918</div>
        </div>
        <i class="uil uil-search search-icon" id="searchIcon"></i>

        <div class="search-box">
          <form action="{% url 'afisha' %}" method="post">
            {% csrf_token %}
            <button
              class="uil uil-search search-icon"
              style="
                background-color: transparent;
                color: white;
                overflow: hidden;
                border: white;
              "
              type="submit"
            ></button>
            <input
              type="search-input"
              name="search"
              placeholder="Пошук..."
              required
            />
          </form>
        </div>
      </nav>

      <!-- <div class="component-8">
        <div class="component-1">
          <div id="mySidenav" class="sidenav">
            <div class="frame-21">
              <div class="button">
                <a
                  class="close"
                  style="cursor: pointer"
                  onclick="closeNav()"
                ></a>
              </div>
              <div class="text5">Меню</div>
            </div>
            <div class="frame-21-2">
              <div class="frame-19">
                <a href="{% url 'index' %}" class="component-14">
                  <div class="text7">Головна</div>
                </a>
                <a href="{% url 'afisha' %}" class="component-15">
                  <div class="text7">Афіша</div>
                </a>
                <a href="{% url 'abouttheatre' %}" class="component-16">
                  <div class="text7">Про театр</div>
                </a>
                <a href="#" class="component-17">
                  <div class="text7">Новини</div>
                </a>
                <a href="{% url 'contact' %}" class="component-18">
                  <div class="text7">Контакти</div>
                </a>
              </div>
            </div>
          </div>
          <div class="nav-icon" onclick="openNav()"></div>
          <script>
            function openNav() {
              var sidenav = document.getElementById("mySidenav");
              var main = document.getElementById("main");

              if (sidenav.style.width === "0px" || sidenav.style.width === "") {
                sidenav.style.width = "50%";
                main.style.marginLeft = "50%";
              } else {
                sidenav.style.width = "0";
                main.style.marginLeft = "0";
              }
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              document.getElementById("main").style.marginLeft = "0";
            }
          </script>
        </div>

        <div class="frame-2">
          <div class="text1">Театр Титанів</div>
          <div class="text2">Київ | 1918</div>
        </div>

        <div class="component-2">
          <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
          />
          <form action="{% url 'afisha' %}" method="post">
            {% csrf_token %}
            <input type="search" required name="search" />
            <button class="fa fa-search" type="submit"></button>
          </form>
        </div>
      </div> -->
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>
      <div class="footerLines">
        <div class="line"></div>
        <div class="footer">
          <div class="component-9">
            <div class="frame-66">
              <a href="{% url 'index' %}">Головна</a>
              <a href="{% url 'afisha' %}">Афіша</a>
              <a href="{% url 'abouttheatre' %}">Про Театр</a>
              <a href="#">Новини</a>
              <a href="{% url 'contact' %}">Контакти</a>
            </div>
            <div class="frame-67">
              <div class="text3">Театр Титанів</div>
              <div class="text3">Київ | 1918</div>
            </div>
            <div class="frame-68">
              <a href="#">Instagram</a>
              <a href="#">Facebook</a>
              <a href="#">WhatsApp</a>
              <a href="#">YouTube</a>
              <a href="#">X</a>
            </div>
          </div>

          <div class="frame-35">
            <p class="left">©2023 Театр Титанів. Всі права захищені.</p>
            <div class="right-container">
              <p>Privacy</p>
              <p class="right">Cookies</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      const nav = document.querySelector(".nav"),
        navOpenBtn = document.querySelector(".navOpenBtn"),
        navCloseBtn = document.querySelector(".navCloseBtn"),
        searchIcon = document.querySelector("#searchIcon");

      navOpenBtn.addEventListener("click", () => {
        nav.classList.add("openNav");
        nav.classList.remove("openSearch");
        searchIcon.classList.replace("uil-times", "uil-search");
      });

      navCloseBtn.addEventListener("click", () => {
        nav.classList.remove("openNav");
      });

      searchIcon.addEventListener("click", () => {
        nav.classList.toggle("openSearch");
        nav.classList.remove("openNav");
        if (nav.classList.contains("openSearch")) {
          searchIcon.classList.replace("uil-search", "uil-times");
        } else {
          searchIcon.classList.replace("uil-times", "uil-search");
        }
      });
    </script>
  </body>
</html>
