{% extends "base.html" %}{% load static %}{% block main %}
<div class="text-tickets">{{ theatre.title }}</div>
<div class="frame-134">
  <div class="frame-86">
    <div class="date">
      {{ theatre.formatted_date }} | {{ theatre.formatted_time }}
    </div>
    <div class="genre">
      {{ theatre.genre }} | {{ theatre.typescene }} | {{ theatre.num_scene }}
      дії
    </div>
    <div class="author">{{ theatre.author }}</div>
  </div>
  <div class="group-10">
    <div class="line9">
      <div class="circle9">
        <div class="text">Вибір квитків</div>
      </div>
      <div class="circle9">
        <div class="text">Оформлення</div>
      </div>
      <div class="circle9">
        <div class="text">Оплата</div>
      </div>
    </div>
  </div>
</div>
<div class="mainTickets">
  <div class="group-13">
    <div class="seats-coast">
      <div class="coast1">
        <div class="seat"></div>
        <div class="coast-text">- 300₴</div>
      </div>
      <div class="coast2">
        <div class="seat"></div>
        <div class="coast-text">- 250₴</div>
      </div>
      <div class="coast3">
        <div class="seat"></div>
        <div class="coast-text">- 200₴</div>
      </div>
      <div class="coast4">
        <div class="seat"></div>
        <div class="coast-text">- 150₴</div>
      </div>
      <div class="coast5">
        <div class="seat"></div>
        <div class="coast-text">- продано</div>
      </div>
    </div>
    <div class="cinema-row row-13">
      <div class="seat-number-left">13</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">13</div>
    </div>

    <div class="cinema-row row-12">
      <div class="seat-number-left">12</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">12</div>
    </div>

    <div class="cinema-row row-11">
      <div class="seat-number-left">11</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">11</div>
    </div>

    <div class="cinema-row row-10">
      <div class="seat-number-left">10</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">10</div>
    </div>

    <div class="cinema-row row-9">
      <div class="seat-number-left">9</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">9</div>
    </div>

    <div class="cinema-row row-8">
      <div class="seat-number-left">8</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">8</div>
    </div>

    <div class="cinema-row row-7">
      <div class="seat-number-left">7</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">7</div>
    </div>

    <div class="cinema-row row-6">
      <div class="seat-number-left">6</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">6</div>
    </div>

    <div class="cinema-row row-5">
      <div class="seat-number-left">5</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">5</div>
    </div>
    <div class="cinema-row row-4">
      <div class="seat-number-left">4</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">4</div>
    </div>

    <div class="cinema-row row-3">
      <div class="seat-number-left">3</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">3</div>
    </div>
    <div class="cinema-row row-2">
      <div class="seat-number-left">2</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">2</div>
    </div>

    <div class="cinema-row row-1">
      <div class="seat-number-left">1</div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat-number-right">1</div>
    </div>
    <div class="frame-121">Сцена</div>
  </div>
  <div class="frame-120">
    <div class="text">Ваші квитки</div>
    <div class="frame-118">
      <div class="frame-117">
        <div class="frame-115">
          <div class="text1">Партер, ряд 2, місце 11</div>
          <div class="text2">300₴</div>
        </div>
        <div class="frame-116">
          <div class="text1">Партер, ряд 2, місце 12</div>
          <div class="text2">300₴</div>
        </div>
        <div class="line-10"></div>
        <div class="frame-119">
          <div class="text1">2 квитки</div>
          <div class="text2">600₴</div>
        </div>
      </div>
    </div>
    <div class="component-28">
      <div class="text-28">Оформити замовлення</div>
      <div class="line-10-2"></div>
    </div>
  </div>
</div>
{% endblock %}
